---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/crew/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1005-Ro9pAVdi6Ic9aOlDzFEgL7k9M74"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 5ms
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Robert Behnken","agency":"NASA","image":"https://imgur.com/0smMgMH.png","wikipedia":"https://en.wikipedia.org/wiki/Robert_L._Behnken","launches":["5eb87d46ffd86e000604b388"],"status":"active","id":"5ebf1a6e23a9a60006e03a7a"},{"name":"Douglas
        Hurley","agency":"NASA","image":"https://i.imgur.com/ooaayWf.png","wikipedia":"https://en.wikipedia.org/wiki/Douglas_G._Hurley","launches":["5eb87d46ffd86e000604b388"],"status":"active","id":"5ebf1b7323a9a60006e03a7b"},{"name":"Shannon
        Walker","agency":"NASA","image":"https://imgur.com/9z4tRIO.png","wikipedia":"https://en.wikipedia.org/wiki/Shannon_Walker","launches":["5eb87d4dffd86e000604b38e"],"status":"active","id":"5f7f1543bf32c864[...]
