---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/roadster
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"621-6KsM9pjEQTX56fBcftHJ9+uWZf8"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Elon Musk''s Tesla Roadster","launch_date_utc":"2018-02-06T20:45:00.000Z","launch_date_unix":1517949900,"launch_mass_kg":1350,"launch_mass_lbs":2976,"norad_id":43205,"epoch_jd":2459914.263888889,"orbit_type":"heliocentric","apoapsis_au":1.664332332453025,"periapsis_au":0.986015924224046,"semi_major_axis_au":57.70686413577451,"eccentricity":0.2559348215918733,"inclination":1.075052357364693,"longitude":316.9112133411523,"periapsis_arg":177.75981116285,"period_days":557.1958197697352,"speed_kph":9520.88362029108,"speed_mph":5916.000976023889,"earth_distance_km":320593735.82924163,"earth_distance_mi":199207650.2259517,"mars_distance_km":395640511.90355814,"mars_distance_mi":245839540.52202582,"flickr_images":["https://farm5.staticflickr.com/4615/40143096241_11128929df_b.jpg","https://farm5.staticflickr.com/4702/40110298232_91b32d0cc0_b.jpg","https://farm5.staticflickr.com/4676/40110297852_5e794b3258_b.jpg","https://farm5.staticflickr.com/4745/40110304192_6e3e9a7a1b_b.jpg"],"wikipedia":"https://en.wikipedia.org/wiki/Elon_Musk%27s_Tesla_Roadster","video":"https://youtu.be/wbSwFU6tY1c","details":"Elon
        Musk''s Tesla Roadster is an electric sports car that served as the dummy
        payload for the February 2018 Falcon Heavy test flight and is now an artificial
        satellite of the Sun. Starman, a mannequin dressed in a spacesuit, occupies
        the driver''s seat. The car and rocket are products of Tesla and SpaceX. This
        2008-model Roadster was previously used by Musk for commuting, and is the
        only consumer car sent into space.","id":"5eb75f0842fea42237d7f3f4"}'
  recorded_at: Sat, 21 Mar 2026 19:39:06 GMT
recorded_with: VCR 6.4.0
