---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/ships/AMERICANCHAMPION
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 37ms
    body:
      encoding: ASCII-8BIT
      string: '{"ship_id":"AMERICANCHAMPION","ship_name":"American Champion","ship_model":null,"ship_type":"Tug","roles":["Support
        Ship","Barge Tug"],"active":false,"imo":7434016,"mmsi":367020820,"abs":571252,"class":7604342,"weight_lbs":588000,"weight_kg":266712,"year_built":1976,"home_port":"Port
        of Los Angeles","status":"Stopped","speed_kn":0,"course_deg":null,"position":{"latitude":30.52852,"longitude":-88.09869},"successful_landings":null,"attempted_landings":null,"missions":[{"name":"COTS
        1","flight":7},{"name":"COTS 2","flight":8}],"url":"https://www.marinetraffic.com/en/ais/details/ships/shipid:434663/vessel:AMERICAN%20CHAMPION","image":"https://i.imgur.com/woCxpkj.jpg"}'
  recorded_at: Fri, 05 Oct 2018 19:00:12 GMT
recorded_with: VCR 4.0.0
