---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/capsules/C202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 35ms
    body:
      encoding: ASCII-8BIT
      string: '{"capsule_serial":"C202","capsule_id":"dragon2","status":"active","original_launch":null,"original_launch_unix":null,"missions":[],"landings":0,"type":"Dragon
        2.0","details":"Capsule used to qualify Dragon 2''s environmental control
        and life support systems.","reuse_count":0}'
  recorded_at: Thu, 11 Oct 2018 16:56:57 GMT
- request:
    method: get
    uri: https://api.spacexdata.com/v3/capsules/C202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 38ms
    body:
      encoding: ASCII-8BIT
      string: '{"capsule_serial":"C202","capsule_id":"dragon2","status":"active","original_launch":null,"original_launch_unix":null,"missions":[],"landings":0,"type":"Dragon
        2.0","details":"Capsule used to qualify Dragon 2''s environmental control
        and life support systems.","reuse_count":0}'
  recorded_at: Thu, 11 Oct 2018 16:56:57 GMT
recorded_with: VCR 4.0.0
