---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launchpads/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Count:
      - '6'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '[{"id":5,"name":"VAFB SLC 3W","status":"retired","location":{"name":"Vandenberg
        Air Force Base","region":"California","latitude":34.6440904,"longitude":-120.5931438},"vehicles_launched":["Falcon
        1"],"attempted_launches":0,"successful_launches":0,"wikipedia":"https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_3","details":"SpaceX
        original west coast launch pad for Falcon 1. Performed a static fire but was
        never used for a launch and abandoned due to scheduling conflicts.","site_id":"vafb_slc_3w","site_name_long":"Vandenberg
        Air Force Base Space Launch Complex 3W"},{"id":2,"name":"CCAFS SLC 40","status":"active","location":{"name":"Cape
        Canaveral","region":"Florida","latitude":28.5618571,"longitude":-80.577366},"vehicles_launched":["Falcon
        9"],"attempted_launches":45,"successful_launches":43,"wikipedia":"https://en.wikipedia.org/wiki/Cape_Canaveral_Air_Force_Station_Space_Launch_Complex_40","details":"SpaceX
        primary Falcon 9 launch pad, where all east coast Falcon 9s launc[...]
