---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/cores/B1041
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 45ms
    body:
      encoding: ASCII-8BIT
      string: '{"core_serial":"B1041","block":4,"status":"expended","original_launch":"2017-10-09T12:37:00.000Z","original_launch_unix":1507552620,"missions":[{"name":"Iridium
        NEXT Mission 3","flight":48},{"name":"Iridium NEXT Mission 5","flight":58}],"reuse_count":1,"rtls_attempts":0,"rtls_landings":0,"asds_attempts":1,"asds_landings":1,"water_landing":false,"details":"Will
        fly expendable on Iridium NEXT Mission 5"}'
  recorded_at: Fri, 12 Oct 2018 12:39:22 GMT
- request:
    method: get
    uri: https://api.spacexdata.com/v3/cores/B1041
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 41ms
    body:
      encoding: ASCII-8BIT
      string: '{"core_serial":"B1041","block":4,"status":"expended","original_launch":"2017-10-09T12:37:00.000Z","original_launch_unix":1507552620,"missions":[{"name":"Iridium
        NEXT Mission 3","flight":48},{"name":"Iridium NEXT Mission 5","flight":58}],"reuse_count":1,"rtls_attempts":0,"rtls_landings":0,"asds_attempts":1,"asds_landings":1,"water_landing":false,"details":"Will
        fly expendable on Iridium NEXT Mission 5"}'
  recorded_at: Fri, 12 Oct 2018 12:39:22 GMT
recorded_with: VCR 4.0.0
