---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/history/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 37ms
    body:
      encoding: ASCII-8BIT
      string: '{"id":4,"title":"Falcon 9 First Flight","event_date_utc":"2010-06-04T18:45:00Z","event_date_unix":1275677100,"flight_number":6,"details":"Met
        100% of mission objectives on the first flight!","links":{"reddit":null,"article":"http://www.bbc.com/news/10209704","wikipedia":"https://en.wikipedia.org/wiki/Dragon_Spacecraft_Qualification_Unit"}}'
  recorded_at: Tue, 16 Oct 2018 02:43:50 GMT
recorded_with: VCR 4.0.0
