---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/crew/607a3ab45a906a44023e0872
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ec-buCCpzlpQvEzp0Ho1lzBvEq+Qv8"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 0ms
    body:
      encoding: UTF-8
      string: '{"name":"Hayley Arceneaux","agency":"SpaceX","image":"https://imgur.com/ll7TlwD.png","wikipedia":"https://en.wikipedia.org/wiki/Hayley_Arceneaux","launches":["607a37565a906a44023e0866"],"status":"active","id":"607a3ab45a906a44023e0872"}'
  recorded_at: Sat, 16 Oct 2021 22:12:03 GMT
recorded_with: VCR 4.0.0
