---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/missions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 36ms
    body:
      encoding: ASCII-8BIT
      string: '[{"mission_name":"Iridium NEXT","mission_id":"F3364BF","manufacturers":["Orbital ATK"],"payload_ids":["Iridium NEXT 1","Iridium NEXT 2","Iridium NEXT 3","Iridium NEXT 4","Iridium NEXT 5","Iridium NEXT 6","Iridium NEXT 7"],"wikipedia":"https://en.wikipedia.org/wiki/Iridium_satellite_constellation","website":"https://www.iridiumnext.com/","twitter":"https://twitter.com/IridiumBoss?lang=en","description":"In 2017, Iridium began launching Iridium NEXT, a second-generation worldwide network of telecommunications satellites, consisting of 66 active satellites, with another nine in-orbit spares and six on-ground spares. These satellites will incorporate features such as data transmission that were not emphasized in the original design. The constellation will provide L-band data speeds of up to 128 kbit/s to mobile terminals, up to 1.5 Mbit/s to Iridium Pilot marine terminals, and high-speed Ka-band [...]
