---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launchpads/vafb_slc_4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Response-Time:
      - 32ms
    body:
      encoding: ASCII-8BIT
      string: '{"id":6,"name":"VAFB SLC 4E","status":"active","location":{"name":"Vandenberg
        Air Force Base","region":"California","latitude":34.632093,"longitude":-120.610829},"vehicles_launched":["Falcon
        9"],"attempted_launches":15,"successful_launches":15,"wikipedia":"https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4","details":"SpaceX
        primary west coast launch pad for polar orbits and sun synchronous orbits,
        primarily used for Iridium. Also intended to be capable of launching Falcon
        Heavy.","site_id":"vafb_slc_4e","site_name_long":"Vandenberg Air Force Base
        Space Launch Complex 4E"}'
  recorded_at: Wed, 02 Oct 2019 01:26:54 GMT
recorded_with: VCR 4.0.0
