---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/payloads/RatSat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 36ms
    body:
      encoding: ASCII-8BIT
      string: '{"payload_id":"RatSat","norad_id":[33393],"reused":false,"customers":["SpaceX"],"nationality":"United
        States","manufacturer":"SpaceX","payload_type":"Satellite","payload_mass_kg":165,"payload_mass_lbs":363,"orbit":"LEO","orbit_params":{"reference_system":"geocentric","regime":"low-earth","longitude":null,"lifespan_years":null,"epoch":"2008-09-28T22:51:02.000Z","mean_motion":14.79249332,"raan":63.3956,"semi_major_axis_km":7009.836,"eccentricity":0.0009194,"periapsis_km":625.256,"apoapsis_km":638.145,"inclination_deg":9.3329,"period_min":97.346,"arg_of_pericenter":262.0542,"mean_anomaly":98.2248}}'
  recorded_at: Tue, 23 Oct 2018 11:21:24 GMT
recorded_with: VCR 4.0.0
