---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 51ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"SpaceX","founder":"Elon Musk","founded":2002,"employees":7000,"vehicles":3,"launch_sites":3,"test_sites":1,"ceo":"Elon
        Musk","cto":"Elon Musk","coo":"Gwynne Shotwell","cto_propulsion":"Tom Mueller","valuation":27500000000,"headquarters":{"address":"Rocket
        Road","city":"Hawthorne","state":"California"},"links":{"website":"https://www.spacex.com/","flickr":"https://www.flickr.com/photos/spacex/","twitter":"https://twitter.com/SpaceX","elon_twitter":"https://twitter.com/elonmusk"},"summary":"SpaceX
        designs, manufactures and launches advanced rockets and spacecraft. The company
        was founded in 2002 to revolutionize space technology, with the ultimate goal
        of enabling people to live on other planets."}'
  recorded_at: Wed, 03 Oct 2018 04:56:24 GMT
- request:
    method: get
    uri: https://api.spacexdata.com/v3/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 37ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"SpaceX","founder":"Elon Musk","founded":2002,"employees":7000,"vehicles":3,"launch_sites":3,"test_sites":1,"ceo":"Elon
        Musk","cto":"Elon Musk","coo":"Gwynne Shotwell","cto_propulsion":"Tom Mueller","valuation":27500000000,"headquarters":{"address":"Rocket
        Road","city":"Hawthorne","state":"California"},"links":{"website":"https://www.spacex.com/","flickr":"https://www.flickr.com/photos/spacex/","twitter":"https://twitter.com/SpaceX","elon_twitter":"https://twitter.com/elonmusk"},"summary":"SpaceX
        designs, manufactures and launches advanced rockets and spacecraft. The company
        was founded in 2002 to revolutionize space technology, with the ultimate goal
        of enabling people to live on other planets."}'
  recorded_at: Thu, 11 Oct 2018 03:02:34 GMT
recorded_with: VCR 4.0.0
