---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Koa-Redis-Cache:
      - 'true'
      X-Response-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      string: '{"name":"SpaceX","founder":"Elon Musk","founded":2002,"employees":7000,"vehicles":3,"launch_sites":3,"test_sites":1,"ceo":"Elon
        Musk","cto":"Elon Musk","coo":"Gwynne Shotwell","cto_propulsion":"Tom Mueller","valuation":15000000000,"headquarters":{"address":"Rocket
        Road","city":"Hawthorne","state":"California"},"summary":"SpaceX designs,
        manufactures and launches advanced rockets and spacecraft. The company was
        founded in 2002 to revolutionize space technology, with the ultimate goal
        of enabling people to live on other planets."}'
  recorded_at: Tue, 21 Aug 2018 20:39:09 GMT
recorded_with: VCR 4.0.0
