---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/launchpads/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2a3f-5t/XURehoCQY1XetRG/agXQF4ZQ"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 4ms
    body:
      encoding: ASCII-8BIT
      string: '[{"images":{"large":["https://i.imgur.com/7uXe1Kv.png"]},"name":"VAFB
        SLC 3W","full_name":"Vandenberg Space Force Base Space Launch Complex 3W","locality":"Vandenberg
        Space Force Base","region":"California","latitude":34.6440904,"longitude":-120.5931438,"launch_attempts":0,"launch_successes":0,"rockets":["5e9d0d95eda69955f709d1eb"],"timezone":"America/Los_Angeles","launches":[],"status":"retired","details":"SpaceX''s
        original west coast launch pad for Falcon 1. It was used in a static fire
        test but was never employed for a launch, and was abandoned due to range scheduling
        conflicts arising from overflying other active pads.","id":"5e9e4501f5090910d4566f83"},{"images":{"large":["https://i.imgur.com/9oEMXwa.png"]},"name":"CCSFS
        SLC 40","full_name":"Cape Canaveral Space Force Station Space Launch Complex
        40","locality":"Cape Canaveral","region":"Florida","latitude":28.5618571,"longitude":-80.577366,"launch_attempts":99,"launch_successes":97,"rockets":["5e9d0d95eda69973a809d1ec"],"timezone":"America/New_York","launches":["5eb87cddffd86e000604b32f","5eb87cdeffd86e000604b330","5eb87cdfffd86e000604b331","5eb87ce[...]
