---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/ships/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6268-yTouCVYyQjSVCZIee435H1AMAFE"'
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '[{"last_ais_update":null,"legacy_id":"AMERICANCHAMPION","model":null,"type":"Tug","roles":["Support
        Ship","Barge Tug"],"imo":7434016,"mmsi":367020820,"abs":571252,"class":7604342,"mass_kg":266712,"mass_lbs":588000,"year_built":1976,"home_port":"Port
        of Los Angeles","status":"","speed_kn":null,"course_deg":null,"latitude":null,"longitude":null,"link":"https://www.marinetraffic.com/en/ais/details/ships/shipid:434663/mmsi:367020820/imo:7434016/vessel:AMERICAN_CHAMPION","image":"https://i.imgur.com/woCxpkj.jpg","name":"American
        Champion","active":false,"launches":["5eb87cdeffd86e000604b330","5eb87cdfffd86e000604b331"],"id":"5ea6ed2d080df4000697c901"},{"last_ais_update":null,"legacy_id":"AMERICANISLANDER","model":null,"type":"Cargo","roles":["Dragon
        Recovery"],"imo":null,"mmsi":367035570,"abs":null,"class":null,"mass_kg":null,"mass_lbs":null,"year_built":null,"home_port":"Port
        of Los Angeles","status":"","speed_kn":null,"course_deg":null,"latitude":null,"longitude":null,"link":"https://www.marinetraffic.com/en/ais/details/ships/shipid:435112/mmsi:367035570/imo:0/vessel:AMERICAN_ISLANDER","image":"ht[...]
- request:
    method: get
    uri: https://api.spacexdata.com/v4/ships/5ea6ed2d080df4000697c901
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28d-aOE8syxtab65e1/wR2qFYWh2dLg"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      string: '{"last_ais_update":null,"legacy_id":"AMERICANCHAMPION","model":null,"type":"Tug","roles":["Support
        Ship","Barge Tug"],"imo":7434016,"mmsi":367020820,"abs":571252,"class":7604342,"mass_kg":266712,"mass_lbs":588000,"year_built":1976,"home_port":"Port
        of Los Angeles","status":"","speed_kn":null,"course_deg":null,"latitude":null,"longitude":null,"link":"https://www.marinetraffic.com/en/ais/details/ships/shipid:434663/mmsi:367020820/imo:7434016/vessel:AMERICAN_CHAMPION","image":"https://i.imgur.com/woCxpkj.jpg","name":"American
        Champion","active":false,"launches":["5eb87cdeffd86e000604b330","5eb87cdfffd86e000604b331"],"id":"5ea6ed2d080df4000697c901"}'
  recorded_at: Sat, 21 Mar 2026 19:57:10 GMT
recorded_with: VCR 6.4.0
