---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launchpads
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Koa-Redis-Cache:
      - 'true'
      X-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"status":"retired","location":{"name":"Omelek Island","region":"Marshall
        Islands","latitude":9.0477206,"longitude":167.7431292},"vehicles_launched":["Falcon
        1"],"details":"SpaceX original launch site, where all of the Falcon 1 launches
        occured. Abandoned as SpaceX decided against upgrading the pad to support
        Falcon 9.","site_id":"kwajalein_atoll","site_name_long":"Kwajalein Atoll Omelek
        Island"},{"id":2,"status":"active","location":{"name":"Cape Canaveral","region":"Florida","latitude":28.5618571,"longitude":-80.577366},"vehicles_launched":["Falcon
        9"],"details":"SpaceX primary Falcon 9 launch pad, where all east coast Falcon
        9s launched prior to the AMOS-6 anomaly. Initially used to launch Titan rockets
        for Lockheed Martin. Back online since CRS-13 on 2017-12-15.","site_id":"ccafs_slc_40","site_name_long":"Cape
        Ca[...]
