---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launchpads/kwajalein_atoll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Koa-Redis-Cache:
      - 'true'
      X-Response-Time:
      - 2ms
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"status":"retired","location":{"name":"Omelek Island","region":"Marshall
        Islands","latitude":9.0477206,"longitude":167.7431292},"vehicles_launched":["Falcon
        1"],"details":"SpaceX original launch site, where all of the Falcon 1 launches
        occured. Abandoned as SpaceX decided against upgrading the pad to support
        Falcon 9.","site_id":"kwajalein_atoll","site_name_long":"Kwajalein Atoll Omelek
        Island"}'
  recorded_at: Thu, 11 Oct 2018 17:21:53 GMT
- request:
    method: get
    uri: https://api.spacexdata.com/v3/launchpads/kwajalein_atoll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Koa-Redis-Cache:
      - 'true'
      X-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"status":"retired","location":{"name":"Omelek Island","region":"Marshall
        Islands","latitude":9.0477206,"longitude":167.7431292},"vehicles_launched":["Falcon
        1"],"details":"SpaceX original launch site, where all of the Falcon 1 launches
        occured. Abandoned as SpaceX decided against upgrading the pad to support
        Falcon 9.","site_id":"kwajalein_atoll","site_name_long":"Kwajalein Atoll Omelek
        Island"}'
  recorded_at: Thu, 11 Oct 2018 17:21:54 GMT
recorded_with: VCR 4.0.0
