---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/landpads/LZ-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"id":"LZ-4","full_name":"Landing Zone 4","status":"active","location":{"name":"Vandenberg
        Air Force Base","region":"California","latitude":34.632989,"longitude":-120.615167},"landing_type":"RTLS","attempted_landings":2,"successful_landings":2,"wikipedia":"https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4#LZ-4_landing_history","details":"SpaceX''s
        west coast landing pad. The pad is adjacent to SLC-4E, SpaceX''s west coast
        launch site. The pad was under construction for about a year starting in 2016.
        After concerns with seal mating season, this pad was first used for the SAOCOM
        1A mission in October 2018. Officially referred to as LZ-4 in FCC filings."}'
  recorded_at: Wed, 02 Oct 2019 02:34:40 GMT
recorded_with: VCR 4.0.0
