---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/capsules/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12cd-fqPlMCwCAGEJ8+h+Ld94WVTEZCA"
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '[{"reuse_count":1,"water_landings":1,"land_landings":0,"last_update":"Reentered
        after three weeks in orbit","launches":["5eb87cdeffd86e000604b330"],"serial":"C101","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf35918ed873b2664"},{"reuse_count":1,"water_landings":1,"land_landings":0,"last_update":"First
        Dragon spacecraft","launches":["5eb87cdfffd86e000604b331"],"serial":"C102","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf3591882af3b2665"},{"reuse_count":1,"water_landings":1,"land_landings":0,"last_update":"First
        of twenty missions flown under the CRS1 contract","launches":["5eb87ce0ffd86e000604b332"],"serial":"C103","status":"unknown","type":"Dragon
        1.0[...]
