---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/capsules/5e9e2c5bf35918ed873b2664
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea-xV0644HQdVprsPBbIsxev2EA/uM"
      Spacex-Api-Cache:
      - HIT
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 1ms
    body:
      encoding: ASCII-8BIT
      string: '{"reuse_count":1,"water_landings":1,"land_landings":0,"last_update":"Reentered
        after three weeks in orbit","launches":["5eb87cdeffd86e000604b330"],"serial":"C101","status":"retired","type":"Dragon
        1.0","id":"5e9e2c5bf35918ed873b2664"}'
  recorded_at: Sat, 31 Oct 2020 01:29:11 GMT
recorded_with: VCR 4.0.0
