---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v3/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Spacex-Api-Response-Time:
      - 19ms
    body:
      encoding: ASCII-8BIT
      string: '{"project_name":"SpaceX-API","version":"3.1.0","project_link":"https://github.com/r-spacex/SpaceX-API","docs":"https://documenter.getpostman.com/view/2025350/RWaEzAiG","organization":"r/SpaceX","organization_link":"https://github.com/r-spacex","description":"Open
        Source REST API for rocket, core, capsule, pad, and launch data, created and
        maintained by the developers of the r/SpaceX organization"}'
  recorded_at: Wed, 02 Oct 2019 01:04:51 GMT
recorded_with: VCR 4.0.0
