---
http_interactions:
- request:
    method: get
    uri: https://api.spacexdata.com/v4/cores/60b800111f83cc1e59f16438
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"105-UdzG/qTHbRTybB7j8xxqG6PAJ5A"'
      Spacex-Api-Cache:
      - MISS
      Spacex-Api-Cache-Online:
      - 'true'
      Spacex-Api-Response-Time:
      - 2ms
    body:
      encoding: UTF-8
      string: '{"block":5,"reuse_count":0,"rtls_attempts":0,"rtls_landings":0,"asds_attempts":1,"asds_landings":1,"last_update":"Landed
        on OCISLY* as of June 3, 2021 ","launches":["5fe3af84b3467846b3242161"],"serial":"B1067","status":"unknown","id":"60b800111f83cc1e59f16438"}'
  recorded_at: Mon, 11 Oct 2021 23:51:23 GMT
recorded_with: VCR 4.0.0
